.from-css {
    background-image: url(/undraw_contact_us_15o2.svg);
    background-color: rgba(1, 44, 38, 0.678);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px; 
    -o-border-radius: 5px;
    margin-top:  20px;
  } 






.gallery-bg {
    background: linear-gradient(45deg, red, blue) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    width: auto;
    height: 100%;
  }
  
  img {
    max-width: 100%;
  }
  .gallery {
    padding: 80px 0;
    border-radius: 10px;
  }
  .gallery img {
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  #gallery-modal .modal-img {
    width: 100%;
  }